.Comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1vmin;
    min-width: 10vw;
    min-height: 15vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-family: Roboto, serif;
}

.CommunityCommentContentDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.CommentContentDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vw;
}

.CommenterDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.CommentDate{
    font-family: Roboto, serif;
    font-size: 2vmin;
    padding-left: 3vw;
}

.CommentRate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Roboto, serif;
    font-size: 3vmin;
    font-weight: 500;
}

.CommentTextDiv{
    display:flex;
    height:auto;
    font-family: Roboto, serif;
    font-size: 3vmin;
    background-color: white;
    margin-top: 1vh;
    border-radius: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.CommentStatsDiv{
    margin-top:1vh;
    display: flex;
    flex-direction: row;
    width: 50vw;
}

.CommentUpVoteButton{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    background-color: rgba(0,0,0,0);
    border: none;
}

.CommentDownVoteButton{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    background-color: rgba(0,0,0,0);
    border: none;
}

.CommentStats{
    font-family: Roboto, serif;
    font-size: 4vmin;
    display:flex;
    flex-direction: row;
    margin-left: 3vw;
    width: 6vw;
    justify-content: flex-end;
}

.CommentStatsSymbol{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    margin-left: 1vw;
}

.CommentCommentButton{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-left: 3vw;
}

.CommentReportButton{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-left: 26vw;
}

.ProfileCommentContentDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ProfileCommentContentDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0vw;
}

.ProfileCommenterDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ProfileCommentDate{
    font-family: Roboto, serif;
    font-size: 2vmin;
    padding-left: 1vw;
}


.ProfileCommentTextDiv{
    display:flex;
    height:auto;
    font-family: Roboto, serif;
    font-size: 4vmin;
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    max-width: 38vw;
}

.ProfileCommentStatsDiv{
    margin-top:1vh;
    display: flex;
    flex-direction: row;
    width: 40vw;
}

.ProfileCommentUpVoteButton{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    background-color: rgba(0,0,0,0);
    border: none;
}

.ProfileCommentDownVoteButton{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    background-color: rgba(0,0,0,0);
    border: none;
}

.ProfileCommentStats{
    font-family: Roboto, serif;
    font-size: 4vmin;
    display:flex;
    flex-direction: row;
    margin-left: 3vw;
    width: 6vw;
    justify-content: flex-end;
}

.ProfileCommentStatsSymbol{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    margin-left: 1vw;
}

.ProfileCommentCommentButton{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-left: 3vw;
}

.ProfileCommentReportButton{
    font-family: Material Icons, serif;
    font-size: 4vmin;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-left: 16vw;
}
