.dd-wrapper {
    display:block;
    min-height: 2vh;
    flex-wrap: wrap;
    font-family: Material Icons, serif;
}
.dd-wrapper .dd-header {
    border: none;
    display: flex;
    cursor: pointer;
    width: 100%;
}
.dd-wrapper .dd-header__title--bold {
    font-family: Material Icons, serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dd-wrapper .dd-list {
    position: absolute;
    top: 12vh;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    padding: 0;
    margin: 0;
}
.dd-wrapper .dd-list li {
    list-style-type: none;
}
.dd-wrapper .dd-list li:first-of-type > button {
    border-top: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.dd-wrapper .dd-list li:last-of-type > button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dd-wrapper .dd-list li button {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.dd-wrapper .dd-list li button:hover, .dd-wrapper .dd-list li button:focus {
    cursor: pointer;
    font-weight: bold;
    background-color: #ccc;
}
